@font-face {
  font-family: "Mont";
  src: url("../../assets/fonts/mont-regular.ttf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Mont Bold";
  src: url("../../assets/fonts/mont-bold.ttf") format("opentype");
  font-weight: 800;
}
